* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* --- Parte superior/header/barra de nav --- */
.navbar {
	display: flex;
	align-items: center;
	padding: 5px 5px;
	background: white;
	flex-wrap: wrap;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(10px);
}

.logo,
.actions {
	flex: 1;
	display: flex;
	align-items: center;
}

.logo {
	gap: 10px;
	cursor: pointer;
}

.logo img {
	height: 40px;
	margin: 0;
}

.logo h1 {
	margin: 0;
	font-size: 24px;
}

.menu {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex: 0;
	font-size: 18px;
	flex-grow: 1;
	padding: 0 20px;
}

.menu a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.actions {
	justify-content: flex-end;
	gap: 10px;
}

.bag {
	height: 40px;
	cursor: pointer;
}

.loupe {
	height: 32px;
	cursor: pointer;
}

button.login {
	background: black;
	color: white;
	padding: 6px 18px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.faq {
	height: 18px;
	cursor: pointer;
}

button.signup {
	background: white;
	border: 1px solid black;
	padding: 6px 18px;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
}

.search-box {
	position: relative;
	width: 200px;
}

.search-box input {
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	padding: 5px 0;
	font-size: 12px;
	letter-spacing: 1px;
	background-color: transparent;
}

.search-box input::placeholder {
	color: #888;
}

/* --- Tela inicial/primeiro banner --- */
.start-screen {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	margin-bottom: 10px;
}

.start-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.start-box {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	background: rgba(0, 0, 0, 0.45);
	backdrop-filter: blur(3px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.6s ease;
	text-align: center;
	color: white;
}

.start-screen:hover .start-box {
	bottom: 0;
	height: 100%;
}

.start-box h1 {
	font-size: clamp(32px, 8vw, 110px);
	font-weight: bold;
}

.subtitle {
	font-size: clamp(14px, 3vw, 28px);
	text-decoration: underline;
	cursor: pointer;
}

/* --- Tela inicial/segundo grupo --- */

.central-machinery {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.central-machinery img {
	border-radius: 4px;
}

.big-box {
	flex: 1;
	overflow: hidden;
}

.double-box1,
.double-box2 {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
}

.img1,
.img2,
.small-box1 {
	flex: 1;
	width: 100%;
	cursor: pointer;
}

.big-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	cursor: pointer;
	overflow: hidden;
}

.double-box1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.double-box2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.small-box1 {
	flex: 1;
	background-color: #e8d8b0;
	color: white;
	display: grid;
	place-items: center;
	text-decoration: underline;
	transition: 0.3s ease;
}

.small-box1 h1 {
	font-size: clamp(14px, 5vw, 88px);
	font-weight: bold;
}
.small-box1:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
	background: #d6c59e;
}
/* --- Tela inicial/segundo banner --- */

.second-banner {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
}

.second-banner img {
	border-radius: 4px;
}

/* --- Rodapé --- */
.footer-main {
	display: flex;

	width: 100%;
	flex-wrap: wrap;
}

.social {
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.social img {
	height: clamp(20px, 5vw, 50px);
	cursor: pointer;
}

.payment {
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.payment img {
	height: clamp(20px, 5vw, 50px);
	cursor: pointer;
}
.email {
	display: grid;
	flex: 1;
	place-items: center;
}

.email h2 {
	font-size: clamp(8px, 2.5vw, 18px);
	text-align: center;
}

.email input {
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	padding: clamp(1px, 0.4vw, 4px);
	font-size: clamp(6px, 2vw, 14px);
	background-color: transparent;
}

.email input::placeholder {
	font-size: clamp(6px, 2vw, 14px);
	color: #888;
}

.img1:hover img,
.img2:hover img {
	transform: scale(1.06);
}

/* --- teste --- */

@media (max-width: 900px) {
	.menu {
		display: none;
	}
}
@media (max-width: 900px) {
	.navbar {
		flex-direction: column;
		gap: 15px;
	}

	.actions {
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
		order: 3;
	}

	.search-box {
		display: none;
	}

	@media (max-width: 500px) {
		.email h2 {
			font-size: 9px;
		}

		.email input {
			font-size: 7px;
		}

		.email input::placeholder {
			font-size: 7px;
		}
	}
}
/* --- teste --- */
