* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* --- Parte superior/header/barra de nav --- */
.navbar {
	display: flex;
	align-items: center;
	padding: 5px 5px;
	background: white;
	flex-wrap: wrap;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(10px);
}

.logo,
.actions {
	flex: 1;
	display: flex;
	align-items: center;
}

.logo {
	gap: 10px;
	cursor: pointer;
}

.logo img {
	height: 40px;
	margin: 0;
}

.logo h1 {
	margin: 0;
	font-size: 24px;
}

.menu {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex: 0;
	font-size: 18px;
	flex-grow: 1;
	padding: 0 20px;
}

.menu a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.actions {
	justify-content: flex-end;
	gap: 10px;
}

.bag {
	height: 40px;
	cursor: pointer;
}

.loupe {
	height: 32px;
	cursor: pointer;
}

button.login {
	background: black;
	color: white;
	padding: 6px 18px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.faq {
	height: 18px;
	cursor: pointer;
}

button.signup {
	background: white;
	border: 1px solid black;
	padding: 6px 18px;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
}

.search-box {
	position: relative;
	width: 200px;
}

.search-box input {
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	padding: 5px 0;
	font-size: 12px;
	letter-spacing: 1px;
	background-color: transparent;
}

.search-box input::placeholder {
	color: #888;
}

/* --- Tela inicial/primeiro banner --- */
.start-screen {
	display: flex;
	align-items: stretch;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.start-box {
	flex: 1;
	background-color: #e8d8b0;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.start-box h1 {
	font-size: clamp(40px, 10vw, 120px);
	line-height: 1;
	margin-bottom: 5px;
	font-weight: bold;
}

.subtitle {
	font-size: clamp(20px, 4vw, 40px);
	text-decoration: underline;
	cursor: pointer;
}

.start-image {
	flex: 1;
}

.start-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	cursor: pointer;
}

.central-machinery {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.big-box {
	flex: 1;
	background-color: #000;
	overflow: hidden;
}

.double-box1,
.double-box2 {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
}

.img1,
.img2,
.small-box1 {
	flex: 1;
	width: 100%;
}

.big-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	cursor: pointer;
	overflow: hidden;
}

.double-box1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	cursor: pointer;
}
.double-box2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	cursor: pointer;
}

.small-box1 {
	flex: 1;
	background-color: #e8d8b0;
	color: #000;
	display: grid;
	place-items: center;
	text-decoration: underline;
}

.small-box1 h1 {
	font-size: clamp(14px, 5vw, 88px);
	font-weight: bold;
}

/* --- teste --- */

@media (max-width: 900px) {
	.menu {
		display: none;
	}
}
@media (max-width: 900px) {
	.navbar {
		flex-direction: column;
		gap: 15px;
	}

	.actions {
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
		order: 3;
	}

	.search-box {
		display: none;
	}
}
/* --- teste --- */
