.navbar {
	display: flex;
	align-items: center;
	padding: 20px 10px;
	background: white;
}

.logo,
.actions {
	flex: 1;
	display: flex;
	align-items: center;
}

.logo {
	gap: 10px;
}

.logo img {
	height: 40px;
	margin: 0;
}

.logo h1 {
	margin: 0;
	font-size: 24px;
}

.menu {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex: 0;
	font-size: 18px;
}

.menu a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.actions {
	justify-content: flex-end;
	gap: 20px;
}

#bag {
	height: 40px;
}

#loupe {
	height: 32px;
}

button.login {
	background: black;
	color: white;
	padding: 6px 18px;
	border-radius: 20px;
	border: none;
	font-size: 18px;
}

#faq {
	height: 18px;
}

button.signup {
	background: white;
	border: 1px solid black;
	padding: 6px 18px;
	border-radius: 20px;
	font-size: 18px;
}

.search-box {
	position: relative;
	width: 200px;
}

.search-box input {
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	padding: 5px 0;
	font-size: 12px;
	letter-spacing: 1px;
}

.search-box input::placeholder {
	color: #888;
}

.start-screen {
	width: 100%;
	margin-bottom: 30px;
}

.start-content {
	display: flex;
	width: 100%;
	align-items: stretch;
	height: 600px;
}

.start-box {
	width: 50%;
	background-color: #e8d8b0;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.start-box h1 {
	font-size: 120px;
	line-height: 1;
	margin-bottom: 5px;
	margin-top: 0;
	font-weight: bold;
}

.subtitle {
	font-size: 40px;
	text-decoration: underline;
	padding-bottom: 5px;
	margin: 0;
	cursor: pointer;
}

.start-image {
	width: 50%;
}

.start-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
}
